<div class="product-item comdirecthas_stoerer post-1809 tracking_event_name" [ngClass]="{'mt-5': item?.isProporsal}">
  <div class="highlight_element" *ngIf="item?.isProporsal">
    <div class="highlight_content"> Unsere Top Girokonto Empfehlung</div>
  </div>
  <div class="grid_img grid_child_1 grid_child">
    <a href="/financeads.php?id=1809&amp;subid=0ffe3a1b4b14fbc8" target="blank" rel="nofollow">
      <img width="300" height="300" [src]="item?.imageUrl"
        class="attachment-medium size-medium wp-post-image ls-is-cached lazyloaded" alt="Comdirect Logo"
        loading="lazy" />
    </a>
  </div>
  <div class="grid_child_2 grid_child"></div>
  <div class="grid_child_3 grid_child">
    <div class="geb-item">
      <p class="geb-item-value featured">
        <span class="kosten_pa_1" data-val="0"> 0,00 € </span>
      </p>
      <p class="geb-item-text">
        Grundgebühr
        <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span>
      </p>
    </div>
  </div>
  <div class="grid_child_4 grid_child">
    <div class="geb-item">
      <span class="bargeldauszahlung_value"><span class="kosten_pa_1"> 0,00 </span> %</span>
      <span class="geb-item-text">Bargeldauszahlung
        <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span>
        <span class="geb-item-text-secondary">Abhebungen innerhalb Deutschlands sind mit der Girocard an allen rund
          9.000 Automaten der Cash Group (Commerzbank, Deutsche Bank, Postbank,
          HypoVereinsbank) sowie in zahlreichen Geschäften und Shell-Tankstellen
          unbegrenzt kostenlos.</span>
      </span>
      <span class="zinsen_value"> 9,00 % / 13,50 % </span>
      <span class="geb-item-text">Dispo / Überziehungszins</span>
    </div>
  </div>
  <div class="grid_child_6 grid_child">
    <div class="feature_wrap">
      <span class="kk_feature_1 kk_feature most_important" style="width: 239px"><i class="fas fa-check-circle"></i><span
          class="kk_feature_text">Weltweit kostenlos abheben
          <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span></span></span>
      <span class="kk_feature_2 kk_feature most_important" style="width: 239px"><i class="fas fa-check-circle"></i><span
          class="kk_feature_text">Kostenlose Bareinzahlung
          <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span></span></span>
      <span class="kk_feature_3 kk_feature most_important" style="width: 239px"><i class="fas fa-check-circle"></i><span
          class="kk_feature_text">Bei aktiver Nutzung kostenlos
          <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span></span></span>
    </div>
  </div>
  <div class="grid_child_note grid_child">
    <div class="note">
      <div class="product_note" data-id="1809" data-type="" data-note="">
        <span class="note_outer note_content">1,2</span>
        <span class="note_text medium_text note_content">Sehr gut</span>
      </div>
    </div>
  </div>
  <div class="grid_child_7 grid_child">
    <a href="/financeads.php?id=1809&amp;subid=0ffe3a1b4b14fbc8"
      class="antrag_button fusion-button button-flat fusion-button-round button-large button-default button-4"
      target="_blank" rel="nofollow">
      <span class="fusion-button-text">Zum Angebot »</span>
    </a>
  </div>
  <div class="grid_child_8 grid_child">
    <div class="product-tab-area">
      <!-- fa icon-toggle fa-times-circle -->
      <div (click)="toggleMenu()" class="product-actions">
        <span class="toggle-tabs" data-id="1809">Produktdetails <i
            [ngClass]="showMenu ? 'fa-times-circle':'fa-chevron-circle-down'" class="fa  icon-toggle"> </i></span>
      </div>
    </div>
  </div>
  <div class="grid_child_9 grid_child">
    <div class="product-tabs" id="tab-container-1809" data-easytabs="true"
      [ngStyle]="{ display: showMenu ? 'block' : 'none' }">
      <ul class="etabs">
        <li class="tab" [ngClass]="{ active: shownedTableIndex == 0 }">
          <a (click)="shownedTableIndex = 0" [ngClass]="{ active: shownedTableIndex == 0 }">Allgemein</a>
        </li>
        <li class="tab" [ngClass]="{ active: shownedTableIndex == 1 }">
          <a (click)="shownedTableIndex = 1" [ngClass]="{ active: shownedTableIndex == 1 }">Bezahlen / Bargeld
            abheben</a>
        </li>
        <li class="tab bewertungstab" [ngClass]="{ active: shownedTableIndex == 2 }">
          <a (click)="shownedTableIndex = 2" [ngClass]="{ active: shownedTableIndex == 2 }">Bewertung</a>
        </li>
      </ul>
      <div class="tab-content table-1" id="tabs1-1809" [ngClass]="{ active: shownedTableIndex == 0 }"
        [ngClass]="shownedTableIndex == 0 ? 'd-block' : 'd-none'">
        <table class="product-detail-table">
          <tbody>
            <tr>
              <td><strong>Allgemeines</strong></td>
              <td></td>
            </tr>
            <tr>
              <td>Anbieter</td>
              <td>comdirect – eine Marke der Commerzbank AG</td>
            </tr>
            <tr>
              <td>Produktname</td>
              <td>Kostenloses Girokonto</td>
            </tr>
            <tr>
              <td><strong>Gebühren &amp; Prämie</strong></td>
              <td></td>
            </tr>
            <tr>
              <td>Kontoführungsgebühr</td>
              <td>
                0 €
                <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span>
              </td>
            </tr>
            <tr>
              <td>Mindestgeldeingang</td>
              <td>
                0 €/700 €
                <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span>
              </td>
            </tr>
            <tr>
              <td>Prämie</td>
              <td>0 €</td>
            </tr>
            <tr>
              <td><strong>Zinsen</strong></td>
              <td></td>
            </tr>
            <tr>
              <td>Dispozins</td>
              <td>9,00 % p. a.</td>
            </tr>
            <tr>
              <td>Überziehungszins</td>
              <td>13,50 % p. a.</td>
            </tr>
            <tr>
              <td>Verwahrentgelt</td>
              <td>-</td>
            </tr>
            <tr>
              <td><strong>Karten</strong></td>
              <td></td>
            </tr>
            <tr>
              <td>Karten inklusive</td>
              <td>Girocard, Visa-Debitkarte</td>
            </tr>
            <tr>
              <td>Weitere Karten</td>
              <td>
                Visa-Kreditkarte
                <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span>
              </td>
            </tr>
            <tr>
              <td>Partnerkarte</td>
              <td>0 €</td>
            </tr>
            <tr>
              <td>Maximale Haftung</td>
              <td>50 €</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-content table-1" id="tabs2-1809" [ngClass]="{ active: shownedTableIndex == 1 }"
        [ngClass]="shownedTableIndex == 1 ? 'd-block' : 'd-none'">
        <table class="product-detail-table">
          <tbody>
            <tr>
              <td><strong>Bargeld abheben</strong></td>
              <td></td>
            </tr>
            <tr>
              <td>Inland</td>
              <td>
                0 %
                <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span>
              </td>
            </tr>
            <tr>
              <td>Euro-Zone</td>
              <td>
                ab 0 %
                <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span>
              </td>
            </tr>
            <tr>
              <td>Weltweit (Fremdwährung)</td>
              <td>
                ab 0 %
                <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span>
              </td>
            </tr>
            <tr>
              <td><strong>Bargeld einzahlen</strong></td>
              <td></td>
            </tr>
            <tr>
              <td>Automat/Filiale</td>
              <td>
                0 %
                <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span>
              </td>
            </tr>
            <tr>
              <td>Handel</td>
              <td>0 %</td>
            </tr>
            <tr>
              <td><strong>Bargeldlos bezahlen</strong></td>
              <td></td>
            </tr>
            <tr>
              <td>Inland</td>
              <td>0 %</td>
            </tr>
            <tr>
              <td>Euro-Zone</td>
              <td>0 %</td>
            </tr>
            <tr>
              <td>Weltweit (Fremdwährung)</td>
              <td>
                1,75 %
                <span class="tipr"><i class="fa fa-info-circle vgl-icon-color-neutral"></i></span>
              </td>
            </tr>
            <tr>
              <td><strong>Mobile Payment</strong></td>
              <td></td>
            </tr>
            <tr>
              <td>Google Pay</td>
              <td>
                <i class="bewertungsicon fas fas fa-check-circle haken-ja"></i>
              </td>
            </tr>
            <tr>
              <td>Apple Pay</td>
              <td>
                <i class="bewertungsicon fas fas fa-check-circle haken-ja"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-content table-1" id="tabs3-1809" [ngClass]="{ active: shownedTableIndex == 2 }"
        [ngClass]="shownedTableIndex == 2 ? 'd-block' : 'd-none'">
        <table class="product-detail-table">
          <tbody>
            <tr>
              <td><b>Kosten</b></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <i class="bewertungsicon fas fa-dot-circle bewertung-normal"></i>
                Kostenlose Kontoführung
              </td>
              <td>6/8</td>
            </tr>
            <tr>
              <td>
                <i class="bewertungsicon fas fa-dot-circle bewertung-normal"></i>
                Bankkarte
              </td>
              <td>2/4</td>
            </tr>
            <tr>
              <td>
                <i class="bewertungsicon fas fa-plus-circle bewertung-gut"></i>
                Dispo / Überziehung
              </td>
              <td>2/2</td>
            </tr>
            <tr>
              <td><b>Kostenlose Bargeldauszahlung</b></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <i class="bewertungsicon fas fa-plus-circle bewertung-gut"></i>
                Inland
              </td>
              <td>3/3</td>
            </tr>
            <tr>
              <td>
                <i class="bewertungsicon fas fa-dot-circle bewertung-normal"></i>
                Euro-Zone
              </td>
              <td>2/3</td>
            </tr>
            <tr>
              <td>
                <i class="bewertungsicon fas fa-plus-circle bewertung-gut"></i>
                Weltweit
              </td>
              <td>3/3</td>
            </tr>
            <tr>
              <td><b>Bargeldlos bezahlen</b></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <i class="bewertungsicon fas fa-plus-circle bewertung-gut"></i>
                Inland
              </td>
              <td>3/3</td>
            </tr>
            <tr>
              <td>
                <i class="bewertungsicon fas fa-plus-circle bewertung-gut"></i>
                Euro-Zone
              </td>
              <td>3/3</td>
            </tr>
            <tr>
              <td>
                <i class="bewertungsicon fas fa-dot-circle bewertung-normal"></i>
                Weltweit
              </td>
              <td>1/3</td>
            </tr>
            <tr>
              <td><b>Weitere Leistungen</b></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <i class="bewertungsicon fas fa-plus-circle bewertung-gut"></i>
                Apple Pay / Google Pay
              </td>
              <td>4/4</td>
            </tr>
            <tr>
              <td>
                <i class="bewertungsicon fas fa-plus-circle bewertung-gut"></i>
                Kontoeröffnung / Kontowechsel
              </td>
              <td>4/4</td>
            </tr>
            <tr>
              <td>
                <i class="bewertungsicon fas fa-minus-circle bewertung-negativ"></i>
                Filialbank-Leistungen
              </td>
              <td>0/4</td>
            </tr>
            <tr>
              <td><b>Gesamt</b></td>
              <td><b>33/44</b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="grid_child_10 grid_child stoerer">
    <div class="stoerer_wrap">
      <span class="stoerer stoerer_eins"> Gute Bargeld-Versorgung </span>
    </div>
  </div>
</div>
